<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Link²Ur</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Link²Ur</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>CFBundleKeywords</key>
		<array>
			<string>link2ur</string>
			<string>link to you</string>
			<string>link 2 u r</string>
			<string>link²ur</string>
			<string>任务</string>
			<string>跳蚤市场</string>
			<string>论坛</string>
			<string>task</string>
			<string>flea market</string>
			<string>forum</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<!-- UIScene 生命周期（消除 "does not adopt UIScene lifecycle" 警告） -->
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>UIWindowScene</string>
						<key>UISceneConfigurationName</key>
						<string>flutter</string>
						<key>UISceneDelegateClassName</key>
						<string>FlutterSceneDelegate</string>
						<key>UISceneStoryboardFile</key>
						<string>Main</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<!-- Privacy - Permission Descriptions -->
		<key>NSCameraUsageDescription</key>
		<string>This app will use the camera to take photos of your ID documents for setting up your payment account.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need to access your location information to select task/item locations on the map, or use your current location. You can also choose to manually enter locations.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We need to access your location to show task/item locations on the map and use your current location. You can choose "When In Use" only; "Always" is optional for features that may use location in the background. You can also enter locations manually.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>We use Face ID to securely authenticate and log you into your account.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs access to your photo library to upload images for your profile, tasks, and posts.</string>
		<!-- URL Schemes -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.link2ur</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>link2ur</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.link2ur.app</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>link2ur</string>
				</array>
			</dict>
		</array>
		<!-- Query Schemes - WeChat, QQ, Social -->
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>weixin</string>
			<string>weixinULAPI</string>
			<string>mqq</string>
			<string>mqqapi</string>
			<string>mqqopensdkapiV2</string>
			<string>mqqopensdkapiV3</string>
			<string>mqqopensdkapiV4</string>
			<string>mqqopensdknopasteboard</string>
			<string>mqqopensdknopasteboardios16</string>
			<string>mqzone</string>
			<string>mqqopensdklaunchminiapp</string>
			<string>tim</string>
			<string>instagram</string>
			<string>fb</string>
			<string>twitter</string>
			<string>weibosdk</string>
		</array>
		<!-- Background Modes -->
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<!-- Encryption -->
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
	</dict>
</plist>
