<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要您的位置信息以提供附近的任务和跳蚤市场商品</string>
	<key>NSCameraUsageDescription</key>
	<string>我们需要访问相机以拍摄任务或商品图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要访问相册以选择图片</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>我们需要发送通知以提醒您任务更新和消息</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
</dict>
</plist>

