<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<!-- 微信 -->
		<string>weixin</string>
		<string>weixinULAPI</string>
		<!-- QQ -->
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqopensdknopasteboard</string>
		<string>mqqopensdknopasteboardios16</string>
		<string>mqzone</string>
		<string>mqqopensdklaunchminiapp</string>
		<string>tim</string>
		<!-- 其他平台 -->
		<string>instagram</string>
		<string>fb</string>
		<string>twitter</string>
		<string>weibosdk</string>
	</array>
	<!-- Spotlight 搜索关键词 - 让用户可以通过这些关键词搜索到应用 -->
	<key>CFBundleKeywords</key>
	<array>
		<string>link2ur</string>
		<string>link to you</string>
		<string>link 2 u r</string>
		<string>link²ur</string>
		<string>任务</string>
		<string>跳蚤市场</string>
		<string>论坛</string>
		<string>task</string>
		<string>flea market</string>
		<string>forum</string>
	</array>
</dict>
</plist>
