<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleKeywords</key>
	<array>
		<string>link2ur</string>
		<string>link to you</string>
		<string>link 2 u r</string>
		<string>link²ur</string>
		<string>任务</string>
		<string>跳蚤市场</string>
		<string>论坛</string>
		<string>task</string>
		<string>flea market</string>
		<string>forum</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.link2ur.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>link2ur</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.link2ur</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>link2ur</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqopensdknopasteboard</string>
		<string>mqqopensdknopasteboardios16</string>
		<string>mqzone</string>
		<string>mqqopensdklaunchminiapp</string>
		<string>tim</string>
		<string>instagram</string>
		<string>fb</string>
		<string>twitter</string>
		<string>weibosdk</string>
	</array>
</dict>
</plist>
